# Server
PORT=5000
NODE_ENV=development

# Security
ALLOWED_ORIGINS=http://localhost:3000,https://sales-insight-automator-rabbit-ai-t.vercel.app/
API_RATE_LIMIT_WINDOW_MS=900000
API_RATE_LIMIT_MAX=100

# Gemini
GEMINI_API_KEY=YOUR_API_KEY
GEMINI_MODEL=gemini-2.5-flash

RESEND_API_KEY=YOUR_API_KEY

# Email
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=apikey
SMTP_PASS=YOUR_API_KEY
EMAIL_FROM_NAME=Rabbitt AI Sales Insights
EMAIL_FROM_ADDRESS=YOUR_EMAIL_ADDRESS

# File Upload Limits
MAX_FILE_SIZE_MB=10